RESEND_API_KEY=re_4T21tnmq_5izBpXeavNqQgN9Md6BEjzRu
CONTACT_FROM_EMAIL=M&M Reformas <contacto@correo.reformascompletas.com>
CONTACT_TO_EMAIL=melgarejo.francisco@hotmail.es
ALLOWED_ORIGINS=http://localhost:5173,https://tu-web.com,https://www.tu-web.com
